header {
  width: 1440px;
  height: 292px;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
}

.header__menu {
  display: grid;
  align-content: center;
  justify-content: space-between;
  grid-template-columns: 430px 148px 240px;
  padding: 91px 50px;
}/* контейнер навигации */

.header__links-list {
  display: flex;
  align-items: center;
  column-gap: 33px;
  list-style: circle;
  /* list-style-position: inside;  */
} /* список ссылок */

.header__links-list-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
} /* пункт списка ссылок */

/* .header__links-list-item::marker {
  font-size: 110%;
} */

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
} /* вам может потребоваться этот класс, чтобы сделать ссылку без кружочка перед ней */
.header__link {} /* ссылка */
.header__link_active {} /* активная ссылка */
.header__logo {} /* контейнер логотипа */
.header__logo-image {
  width: 148px;
  height: 105px;
} /* картинка с логотипом */q
.address {
  font-style: normal;
} /* контейнер с адресом */
.header__address {} /* потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание */
